/* .mat-card {
  display: flex;
  flex-direction: column;
  max-width: 800px !important;
  border-radius: 20px;
  margin: 20px;
}

.mat-card-header {
  padding: 1em !important;
}

.mat-card-title span {
  font-size: 3em;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name,
.contact,
.address,
.reason {
  width: 100%;
  display: flex;
  flex: 1;
  flex-basis: 100%;
}

.name input,
.contact input,
.address input,
.reason input {
  width: 100%;
}

.mat-form-field {
  margin: 10px;
  width: 100%;
}

.stash-details {
  display: flex;
  width: 100%;
  margin: 20px 0 20px 0;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-basis: 100%;
  justify-content: space-between;
  list-style-type: none;
}

li .label {
  display: flex;
  align-items: center;
  font-weight: 700;
}

li .label span {
  margin-right: 5px;
}

form {
  padding: 0 !important;
  margin: 0 !important;
}

form button {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .name,
  .contact,
  .address,
  .reason {
    flex-wrap: wrap;
  }
} */

.preloader-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.food-stash-container {
  display: flex;
  margin-top: 50px;
}

.stash-instruction {
  width: 100%;
}

.stash-instruction img {
  width: 100%;
}

.card {
  margin-bottom: 30px;
  border-radius: 5px;
}

.food-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.food-card-header {
  width: 100%;
  display: flex;
  align-self: center;
  background-color: #ffffff;
  /* box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.19); */
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-family: var(--theme-font);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.1em;
  color: #565656;
}

.food-card-content {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.food-card-form {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.food-img {
  flex-basis: 100%;
  flex: 1;
}

.food-img img {
  width: 100%;
  border-radius: 5px 5px 0px 0;
  padding: 10px;
  margin-bottom: 10px;
}

.food-img .count {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-family: var(--theme-font);
  font-size: 20px;
}

.food-details {
  flex-basis: 100%;
  flex: 2;
  padding: 10px;
}

.food-availability {
  display: flex;
}

.food-details h3 {
  font-family: var(--theme-font);
  font-weight: 600;
  font-size: 30px;
  letter-spacing: -0.1em;
  color: #565656;
}

.food-details .stash-info {
  display: flex;
  flex-direction: column;
}

.stash-info ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.stash-info ul li {
  border: 1px solid #e7e7e7;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.stash-info ul li p {
  font-size: 20px;
}

.stash-info ul li label {
  font-weight: 600;
  color: #6b6b6b;
  padding: 0;
  margin: 0;
  font-family: var(--theme-font);
}

.food-card-form {
  width: 100%;
}

form {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

form button {
  width: 100%;
  font-family: var(--theme-font);
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name,
.contact,
.address,
.reason {
  width: 100%;
  display: flex;
  flex: 1;
  flex-basis: 100%;
}

.name input,
.contact input,
.address input,
.reason input {
  width: 100%;
}

.mat-form-field {
  margin: 10px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .name,
  .contact,
  .address,
  .reason {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .food-stash-container {
    flex-direction: column;
  }

  .food-card-content {
    flex-direction: column;
  }
}
