.mat-card {
  display: flex;
  flex-direction: column;
  max-width: 800px !important;
  border-radius: 20px;
  margin: 20px;
}

.mat-card-header {
  padding: 1em !important;
}

.mat-card-title span {
  font-size: 3em;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name,
.contact,
.address,
.reason {
  width: 100%;
  display: flex;
  flex: 1;
  flex-basis: 100%;
}

.name input,
.contact input,
.address input,
.reason input {
  width: 100%;
}

.mat-form-field {
  margin: 10px;
  width: 100%;
}

.stash-details {
  display: flex;
  width: 100%;
  margin: 20px 0 20px 0;
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-basis: 100%;
  justify-content: space-between;
  list-style-type: none;
}

li .label {
  display: flex;
  align-items: center;
  font-weight: 700;
}

li .label span {
  margin-right: 5px;
}

form {
  padding: 0 !important;
  margin: 0 !important;
}

form button {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .name,
  .contact,
  .address,
  .reason {
    flex-wrap: wrap;
  }
}
