<!-- <div class="landing-section" *ngIf="0">
  <div class="background">
    <img src="../../assets/imgs/pexels-adonyi-gábor-1414651 1.png" alt="" />
  </div>

  <div class="search-location-wrapper">
    <div class="search-bar">
      <input
        type="text"
        placeholder="Search location"
        [(ngModel)]="myLocation"
      />
      <mat-icon
        style="color: var(--theme-color)"
        class="clickable"
        (click)="getCurrentLocation()"
        >gps_fixed</mat-icon
      >
    </div>
    <button mat-raised-button color="primary" class="ff-flat-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<div class="near-store-section" *ngIf="0">
  <p class="ff-label" style="font-size: 2em; margin: 50px 0 50px 0">
    Find great foods near you!
  </p>
  <div class="merchant-container">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="locationLoading | async"
    ></mat-progress-bar>
    <div class="location-header">
      <mat-icon style="color: #e82354" class="clickable">place</mat-icon>
      <p class="ff-label" style="font-size: 1.5em">
        Find food places near {{ myLocation }}
      </p>
    </div>

    <div class="merchants">
      <div class="merchant-list" *ngFor="let merchant of merchants">
        <food-card [data]="merchant"></food-card>
      </div>
    </div>
  </div>
</div> -->

<div class="landing-event-section">
  <div class="title">
    <span class="ff-logo" style="color: #ffffff; font-size: 2em">FleeFood</span>
  </div>

  <div class="notice-section">
    <div class="notice-content">
      <h3>Welcome to <span class="ff-logo">FleeFood</span></h3>
      <p>
        Thanks for visiting our site! our service will be open to public very
        soon and while we’re still in development we setup an event to help you
        get throught this pandemic, we hope we can help as much as people needs
        it.
      </p>
    </div>
    <!-- <img src="../../assets/imgs/FleeFood - Rider.png" alt="" /> -->
  </div>
</div>

<div class="food-stash-section">
  <div class="instruction">
    <p>
      Welcome to FoodStash!, here you can see available food stash in your area
      just fill up the form and submit an entry if your name is selected the
      organizer will contact you.
    </p>
  </div>

  <food-stash-card
    [location]="myLocation"
    [isLoading]="locationLoading"
    [foodStash$]="foodStash"
    [stashLoading]="stashLoading"
  ></food-stash-card>
</div>
