<mat-dialog-content
  ><span class="ff-label" style="font-size: 2em; padding: 10px">{{
    data.success
  }}</span>
  <mat-icon style="color: var(--theme-color)">check_circle</mat-icon>
  <p>
    {{ data.subdetails }}
  </p></mat-dialog-content
>
<mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close
    mat-raised-button
    color="primary"
    class="ff-label ff-flat-button"
  >
    Ok
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <!-- <button mat-button [mat-dialog-close]="true">Delete</button> -->
</mat-dialog-actions>
